body {
  margin: 0;
  color: white;
  background-color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
header {
  height: 100vh;
  /* background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.05)),
    url("netflixteaser.png"); */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.05)),
    url("large.jpg");
}
.logo {
  width: 170px;
  height: 85px;
  vertical-align: middle;
}
nav a.logo {
  display: inline-block;
  line-height: 90px;
  margin-left: 3%;
}

header nav {
  height: 90px;
}
nav .signin {
  color: #fff;
  float: right;
  background-color: #e50914;
  line-height: normal;
  margin-top: 18px;
  margin-right: 3%;
  padding: 7px 17px;
  font-weight: 400;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
}
.pitch {
  margin: 50px;
  padding: 45px;
  font-size: 40px;
}
